:root{
     --primary-color: #FF7833;
     --secondary-color: #31333B;
     --secondary-color-light:#444856;
}

*, *::after, *::before{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

html{
     font-size: 62.5%;
}
body{
     display: flex;
     color: #E7E7E7;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     min-height: 100vh;/*no minimo e se tiver + expande*/
     line-height: 1.7;/*espaço entre linhas*/
     
}
h1{
     font-size: 4rem;
     color: #bdbdbd;
     margin-top: 2rem;
     margin-bottom: 3rem;
}
h2, h3, h4{
     color: var(--primary-color);
     
}
h2{
     margin-top: 1rem;
}
h3{
     margin: 0;
     padding-bottom: 1rem;
}
.underline{
     text-decoration: red wavy underline; /*sulinhado correta forma de usa*/
}
.highlight{
     border-left: 1px solid var(--primary-color);
     font-size: 1.1em;
     padding-left: 2em;
     margin-bottom: 2.2em;
}
article{
     
     padding: 1em 0;
}

.main-header{
     flex: 0 0 26rem;/*n aumenta n dimuniu e tamanho*/
     background-color:var(--secondary-color) ;

}
.main{
     background-color: #444856;
     flex: 1 0 ;
     padding: 6.5rem 6rem 7.5rem;
}
.main,
.main-header{
     font-size: 1.6rem;
}
a {
     color: inherit; /*para herdar a cor*/
     
     
     
}
.perfil-img{
     max-width: 10rem;
}
/*menu*/
.main-nav{
     text-align: right;
     padding: 6.5rem 2.4rem 2.4rem;
}
.main-nav ul{
     list-style-type: none;
    
}
.main-nav ul a {
     display: block;
     padding: 1.2rem 0;
     text-decoration: none;
     border-bottom: 1px solid #7b7b7b;
     
     
     
     background-color: transparent;
     transition: padding-right .2s, background-color .4s;

}/*movimentaçãp, e tbm quando tiver em foco com o teclado tab*/
.main-nav ul a:hover,
.main-nav ul a:focus {
     background-color: var(--secondary-color-light);
     padding-right: 1rem;
}
.main-nav li{
     border-bottom: 1px solid #7b7b7b;
     padding: .4rem 0;

}
.card{
     max-width: 740px;
     background-color: var(--secondary-color);
     padding: 0;
}
.card_content{
     padding: .5em 1em 1em;
}

.card_content p, .card_title{
     margin: 0;
}

.card_title{
     font-size: 1.75em;
     
}